;; shadow-cljs configuration
{:source-paths
  ["src/common"
   "src/frontend"
   "src/renderer"
   "src/tests"]

 :dependencies
 [[re-frame "0.11.0"]]

 :dev-http {8080 "public"}
 
 :builds
 {:browser {:target :browser
            :output-dir "public/js"
            :asset-path "/js"
            :modules {:main {:entries [finbuddy.main]
                             :init-fn finbuddy.main/init}}
            :compiler-options {:optimizations :simple
                               :warnings-as-errors true}
            :devtools {:before-load finbuddy.main/stop
                       :after-load finbuddy.main/start}
            :repl-init-ns finbuddy.main
            :repl-pprint true}
  :browser-release {:target :browser}
  :electron {:target :node-script}
  :electron-release {:target :node-script}}}
